.edit-loc-modal {
    display: flex;
    gap: 16px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;


    padding: 32px;

    background-color: antiquewhite;
    color: black;
}

.edit-loc-modal .loc-rate{
    width: 40px;
}

.edit-loc-modal.hidden{
    display: none;
}